/* google font add  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* variable color  */
:root {
    --primaryColor: #FF900E;
    --dark1: #131313;
    --dark2: #424242;
    --dark3: #727272;
    --headerFooter:rgba(255, 143, 14, .1);
}

/* universal select  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans";
    list-style: none;
    text-decoration: none;
}


/* shear selector */
main{
    max-width: 1440px;
    margin: 0 auto;
}
section {
    max-width: 1440px;
    margin: 4rem auto;
}

img{
    max-width: 100%;
}


/* Header section style */
header {
    width: 100%;
    background: var(--headerFooter);
    padding-top: 2.8rem;
}

nav {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.logo h5 {
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark1);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    color: var(--dark2);
    margin-left: 1rem;
    font-size: 1.1rem;
}

/* menu design  */
.menu{
    display: none;
}
.toggle{
    height: 2px;
    width: 20px;
    margin-bottom: 5px;
    background-color: var(--dark3);
}
.toggle2{
    width: 15px;
    margin-left: 5px;
}

/* hero section style  */
.hero{
    text-align: center;
}

.hero h1{
    font-size: 4rem;
    font-weight: 700;
    color: var(--dark1);
    margin-bottom: 2rem;
}

button{
    font-size: 1.25rem;
    font-weight: 600;
    background: var(--primaryColor);
    color:#ffffff;
    padding: 1.25rem 1.5rem;
    border: none;
    border-radius: .5rem;
}

.hero img{
    margin-block: 3.1rem;
}


/* our feature section style */
.feature-container{
    max-width: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4.5rem ;
}

.feature-image{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.feature-content{
    flex-basis: 50%;
}

h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--dark1);
    margin-bottom: 1.5rem;
}

.dark3{
    color: var(--dark3);
    font-weight: 400;
}
.primary{
    color: var(--primaryColor);
}

p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark3);
}

.feature-content p{
    margin-bottom: 2rem ;
}


/* all feature section style */
.all-feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
}

.all-feature-content{
    flex-basis: 40%;
}
.all-feature-content h2{
    padding-left: 1.3rem;
    border-left: 5px solid var(--primaryColor);
}
.all-feature-content p{
    margin-bottom: 1.8rem;
}

.all-feature-item{
    max-width: 586px;
    padding: 1.9rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    border-radius: 8px;
}

.all-feature-item h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark1);
    margin-bottom: .7rem;
}
.all-feature-item p{
    margin: 0;
}
.all-feature-image{
    flex-basis: 45%;
    position: relative;
    text-align: center;
}

.all-feature-image img{
    max-width: 100% ;
    max-height: 800px;
    z-index: -1;

}

.experience{
    padding: 2.8rem 2.6rem;
    background: var(--primaryColor);
    border-radius: 8px;
    color: white;
    text-align: center;
    position: absolute;
    left: -92px;
    bottom: -90px;
    z-index: 99;
}

.experience h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.experience p{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}


/* some fact section style */
.fact-item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-evenly;

    /* align-items: center;
    justify-content: space-around; */
}

.fact-item{
    max-width: 240px;
    margin-top: 6rem;
    padding: 3.1rem 2.2rem;
    border: 2px solid var(--primaryColor);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.fact-item h2{
    font-weight: 600;
    margin: .6rem 0 0 .3rem;
}


/* our sponsor section  */
.sponsor{
    text-align: center;
}

.sponsor-image{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 3rem;
    filter: grayscale(1);
}